.carro {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  background: rgb(49, 49, 49);
}

h4,strong,a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.carrousel__list {

  align-items: center;
  display: flex;
  height: 304px;
  padding: 10px 0px;
  overflow: hidden;
  gap: 10px;
}

.carrousel__track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: .5s ease-in-out;
  gap: 1.25rem;
  z-index: 1;
}

.carrusel {
  box-sizing: border-box;
  width: 300px;
}

.carrousel {
  position: relative;

  h4 {
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: white;
    padding: 25px;
  }

  h4 strong {
    font-size: 24px;
    display: block;
  }

  a img {
    height: 300px;
    /* Altura automática para mantener la proporción */
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transition: .3 ease-in-out;
  }
}

.carrusel-arrow {
  border-radius: 30px;
  background-color: #ccc;
  position: absolute;
  width: 48px;
  height: 48px;
  text-align: center;
  border: 0;
  cursor: pointer;

  :focus {
    outline: 0;
  }

  svg {
    width: 12px;
    height: 100%;
    color: rgba(0, 0, 0, 0.7);
  }
}

.carrusel-prev {
  left: -24px;
  z-index: 2;
}

.carrusel-next {
  right: -24px;
  z-index: 1;
}

/*
@media (max-width: 1240px){
  .carrusel{
    width: 240px;
  }
}*/