.gallery{

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;

li{
  height: 300px;
}

&__titleCard{
  background-color: rgba(0, 0, 0, 0.498);
  color: white;
}

&__arrow{
  width: 12%;
  height: 12%;
}
  
  
  li {
    height: 200px;
  }

  a {
    display: block;
    height: 100%;
  }
}
