.tabs-container {

  &h2 {
    font-weight: 300px;
  }

  & .tab-container {
    display: flex;
    flex-flow: row nowrap;
    background-color: rgb(255, 255, 255);
    color: black;
    max-width: fit-content;
    & .tab {
      padding: 1rem 3rem 1rem 1rem;
      margin: 0.2rem;
      border: solid black 2px;
      border-radius: 11px;
    }
    & .tab.active {
      background-color: rgb(26, 25, 25);
      color: white;
    }
  }

  .data-container {
    height: 65vh;
    overflow-y: auto;
    background-color: gray;
  }

  .data-container .data {
    display: none;
  }

  .data-container .data.active {
    display: block;
  }
}

.rooms {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.hotels {
  $borders: 12px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  &__card {
    
    * img {
      border-radius: $borders;
      height: 100%;
    }
  }
  
  &__link {
    position: relative;
  }
  
  &__title {
    background-color: $black-dissipated;
    border-radius: $borders;
    bottom: 4px;
    box-sizing: border-box;
    color: $white;
    left: 0;
    margin: 0;
    padding: 1.1356rem 0 1.1356rem 1.1356rem;
    position: absolute;
    width: 100%;
  }
  
}