@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 36px;
  margin: 6px 0 0;
}

h2 {
  font-size: 2.25rem;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

span {
  font-size: 1rem;
}

img {
  width: 100%;
}

.container {
  max-width: 1270px;
  width: 80%;
  margin: 0 auto;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.gallery__link, .carrousel__link {
  position: absolute;
  width: 100%;
  height: 100%;
}

.heroImage {
  width: 300px;
}

.carro {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  background: rgb(49, 49, 49);
}

h4, strong, a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.carrousel__list {
  align-items: center;
  display: flex;
  height: 304px;
  padding: 10px 0px;
  width: 100%;
  overflow: hidden;
  gap: 10px;
}

.carrousel__track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: 0.5s ease-in-out;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}

.carrusel {
  box-sizing: border-box;
  height: 100%;
  width: 302px;
}

.carrousel {
  position: relative;
}
.carrousel h4 {
  position: absolute;
  z-index: 1;
  font-size: 22px;
  line-height: 23px;
  color: white;
  padding: 25px;
}
.carrousel h4 strong {
  font-size: 24px;
  display: block;
}
.carrousel a img {
  object-fit: cover;
  height: 300px;
  border-radius: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  transition: 0.3 ease-in-out;
}

.carrusel-arrow {
  border-radius: 30px;
  background-color: #ccc;
  position: absolute;
  z-index: 6;
  width: 48px;
  height: 48px;
  text-align: center;
  border: 0;
  cursor: pointer;
}
.carrusel-arrow :focus {
  outline: 0;
}
.carrusel-arrow svg {
  width: 12px;
  height: 100%;
  color: rgba(0, 0, 0, 0.7);
}

.carrusel-prev {
  left: -24px;
}

.carrusel-next {
  right: -24px;
}

/*
@media (max-width: 1240px){
  .carrusel{
    width: 240px;
  }
}*/
.tabs-container {
  margin: 1rem;
}
.tabs-containerh2 {
  font-weight: 300px;
}
.tabs-container .tab-container {
  display: flex;
  flex-flow: row nowrap;
  background-color: rgb(255, 255, 255);
  color: black;
  max-width: fit-content;
}
.tabs-container .tab-container .tab {
  padding: 1rem 7rem 1rem 1rem;
  margin: 0.2rem;
  border: solid black 2px;
  border-radius: 11px;
}
.tabs-container .tab-container .tab.active {
  background-color: rgb(26, 25, 25);
  color: white;
}
.tabs-container .data-container {
  max-height: 500px;
}
.tabs-container .data-container .data {
  margin: 1rem;
  display: none;
}
.tabs-container .data-container .data.active {
  display: block;
}

.footer {
  padding: 60px 0px;
  background-color: #D9D9D9;
}
.footer--flex {
  justify-content: left;
  align-items: center;
  display: block;
}
.footer__img {
  display: flex;
  gap: 1rem;
  width: 125px;
  margin-bottom: 50px;
}
.footer__anchors h2 {
  font-size: 12px;
}
.footer__anchors li {
  font-weight: lighter;
  font-size: 9px;
}
.footer__anchors a {
  color: #000;
}

@media (min-width: 768px) {
  .footer {
    padding: 120px 60px 120px;
  }
  .footer--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__img {
    display: flex;
    gap: 2rem;
    width: auto;
  }
  .footer__anchors h2 {
    color: #000;
    font-size: 20px;
  }
  .footer__anchors li {
    margin-bottom: 23px;
    font-weight: lighter;
    font-size: 16px;
  }
  .footer__anchors a {
    color: #000;
  }
}
.header {
  background-color: #000;
  height: 70px;
  position: relative;
}
.header--flex {
  display: flex;
}
.header__nav {
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 70px;
}
.header__button {
  background: none;
  border: none;
  justify-content: space-around;
  flex-direction: column;
  width: 35px;
  height: 36px;
  padding: 0;
}
.header__button > div {
  background-color: #fff;
  height: 2px;
  width: 100%;
  border: 5px;
  transition: all 0.5s;
  transform-origin: right;
}
.header__button--active div:first-child {
  transform: rotate(-45deg);
}
.header__button--active div:nth-child(2) {
  opacity: 0;
}
.header__button--active div:last-child {
  transform: rotate(45deg);
}
.header__links {
  display: none;
  align-items: center;
  background-color: #000;
  flex-direction: column;
  gap: 20px;
  height: calc(100vh - 70px);
  padding-top: 70px;
  position: absolute;
  top: 70px;
  left: 100%;
  touch-action: none;
  width: 100%;
  transition: left 0.5s;
  z-index: 10;
}
.header__links--active {
  display: flex;
  left: 0;
}
.header a {
  color: #fff;
  font-weight: bold;
}

@media (min-width: 768px) {
  .header__button {
    display: none;
  }
  .header__nav {
    position: relative;
  }
  .header__links {
    background: none;
    display: flex;
    flex-direction: row;
    gap: 60px;
    height: fit-content;
    position: initial;
    padding-top: 0;
    width: fit-content;
  }
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.gallery li {
  position: relative;
}

.components {
  padding: 0 auto;
  background-color: rgb(148, 151, 148);
}

/*Estilos de Buttons*/
.buttons {
  display: flex;
}
.buttons p {
  padding: 20px 50px 16px 20px;
  margin-right: 20px;
}

.button,
.button2 {
  width: 9%;
  padding: 10px 10px;
  margin: 0px 10px 0px 0px;
  background-color: rgb(203, 203, 203);
  color: black;
  border-radius: 17px;
}

.button2 {
  background-color: rgb(214, 214, 214);
  color: rgb(175, 175, 175);
  border-color: rgb(232, 230, 230);
}

.color1:hover {
  background-color: rgb(140, 139, 139);
}

/*-------------------------------------------------------------------------------------------*/
/*      Estilos del Nav    */
.parrafo p {
  margin: 60px 0px;
  padding: 0px 40px;
}

.menuu {
  display: flex;
}

.original,
.menu1,
.menu2 {
  margin: 60px 0px;
  padding: 0px 40px;
}
.original .original,
.original .menu1,
.original .menu2,
.original a,
.menu1 .original,
.menu1 .menu1,
.menu1 .menu2,
.menu1 a,
.menu2 .original,
.menu2 .menu1,
.menu2 .menu2,
.menu2 a {
  color: rgb(254, 254, 254);
  text-decoration: none;
  padding: 0px 40px;
}

.original a:hover {
  text-decoration: underline;
  color: rgb(180, 180, 180);
}

/*-------------------------------------------------------------------------------------------*/
/*Estilos Tipografías*/
.tipo {
  display: flex;
  margin: 40px 40px;
  padding: 30px;
}
.tipo p {
  padding: 5px 30px;
}

.tipo1 {
  font-family: "Open Sans", sans-serif;
}

.tipo2 {
  font-family: "Open Sans", sans-serif;
}

.tipo3 {
  font-family: "Open Sans", sans-serif;
}

/*-------------------------------------------------------------------------------------------*/
/*Estilos Textarea*/
.box_text textarea {
  background-color: rgba(53, 53, 53, 0.326);
  color: white;
  border-color: black;
}

.enviar {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 34px;
  width: 10%;
  padding: 10px 0px;
}
.enviar:hover {
  background-color: #626262;
  border-color: #626262;
}

/*-------------------------------------------------------------------------------------------*/
/*Estilos Sign Up*/
.formulario__label {
  display: flex;
  color: white;
  transform: translateY(10px);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 15px 0px;
  margin-bottom: 15px;
}

.formulario div {
  max-width: 20%;
  display: flex;
  flex-direction: column-reverse;
}

.formulario_input:focus + .formulario_label {
  transform-origin: left top;
  transform: translateY(-12px) scale(0.7);
}

.formulario__input {
  background-color: rgba(235, 235, 235, 0);
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid white;
}

.enviar {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 34px;
  width: 10%;
  padding: 10px 0px;
  margin: 10px 0px 10px 50px;
}

/*-------------------------------------------------------------------------------------------*/
/*Estilos Sign in*/
.parrafo1 {
  color: white;
}
.parrafo1 strong {
  color: white;
}
.parrafo1 strong:hover {
  text-decoration: underline;
}

/*-------------------------------------------------------------------------------------------*/

/*# sourceMappingURL=styles.css.map */
